.hero {
  margin: 0 auto;
  padding-top: 200px;
  padding-bottom: 200px;
  background-color: var(--brand-fon);
  text-align: center;

  &__title {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.4;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--brand-white);
    margin-bottom: 30px;
    width: 696px;
    margin-bottom: 30px;
  }
}

.hero__background {
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url('../images/background/img-hero.png');
  width: 1600px;
  min-height: 600px;
  margin-left: auto;
  margin-right: auto;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.hero__btn {
  padding: 10px 32px;
  background-color: var(--brand-blue);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  cursor: pointer;
  font-family: inherit;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  color: var(--brand-white);
  min-width: 200px;
  border: 1px solid transparent;
  padding: 10px 32px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.hero__btn {
  &:hover,
  &:focus {
    background-color: var(--brand-blue-btn);
  }
  &:active {
    background-color: var(--brand-blue-btn);
  }
}
// .hero {
//   background-color: var(--brand-fon);
//   text-align: center;
//   margin: 0 auto;
//   padding-top: 200px;
//   padding-bottom: 200px;
// }
// .hero_background {
//   background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
//     url('../images/background/img-hero.png');
//   width: 1600px;
//   min-height: 600px;
//   margin-left: auto;
//   margin-right: auto;
//   background-repeat: no-repeat;
//   background-size: cover;
//   background-position: center;
// }
// .hero-title {
//   font-weight: 900;
//   font-size: 44px;
//   line-height: 1.4;
//   text-align: center;
//   letter-spacing: 0.06em;
//   text-transform: uppercase;
//   color: var(--brand-white);
//   margin-bottom: 30px;
// }
// .hero_btn {
//   background-color: var(--brand-blue);
//   font-weight: 700;
//   font-size: 16px;
//   line-height: 1.87;
//   cursor: pointer;
//   font-family: inherit;
//   box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
//   border-radius: 4px;
//   color: var(--brand-white);
//   min-width: 200px;
//   border: 1px solid transparent;
//   padding: 10px 32px;
//   transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
// }
// .hero-btn:hover,
// .hero-btn:focus {
//   background-color: var(--brand-blue-btn);
// }
// .hero-btn:active {
//   color: var(--brand-blue-btn);
// }
