.special {
  display: flex;
  padding-top: 94px;
  padding-bottom: 94px;
}

// //////////////  list //////////////////////////

.special__list {
  display: flex;
  justify-content: space-between;
  margin-right: -30px;
}
.special__item {
  width: 270px;
  margin-right: 30px;
}

.special-cont {
  width: 270px;
  height: 120px;
  background-color: var(--brand-background-team);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  margin-bottom: 30px;
  &__svg {
    width: 70px;
    height: 70px;
  }
}

.special__feature {
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--brand-black);
  margin-bottom: 10px;
}

.special__text {
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: var(--brand-grey);
}
// .special {
//   display: flex;
//   padding-top: 94px;
//   padding-bottom: 94px;
// }

// .special-list {
//   display: flex;
//   justify-content: space-between;
//   margin-right: -30px;
// }
// .special-item {
//   width: 270px;
//   margin-right: 30px;
// }
// .special-feature {
//   font-weight: 700;
//   font-size: 14px;
//   line-height: 16px;
//   letter-spacing: 0.03em;
//   text-transform: uppercase;
//   color: var(--brand-black);
//   margin-bottom: 10px;
// }
// .special-text {
//   font-size: 14px;
//   line-height: 1.7;
//   letter-spacing: 0.03em;
//   color: var(--brand-grey);
// }
// .special-container-icon {
//   width: 270px;
//   height: 120px;
//   background-color: var(--brand-background-team);
//   display: flex;
//   justify-content: center;
//   align-items: center;
//   border-radius: 4px;
//   margin-bottom: 30px;
// }
// .special-icon {
//   width: 70px;
//   height: 70px;
// }
